.card {
  width: 390px;
  height: 400px;
  border: 1px solid black;
  padding: 20px;
  align-items: center;
}
.card img {
  width: 300px;
  height: 200px;
}
.cardImg {
  justify-self: center;
  align-items: center;
}
.bid-btn {
  border: 2px solid black;
  border-radius: 0;
  padding: 5px 10px 5px 10px;
  margin-top: 5px;
}
.status {
  margin: 10px 0;
  display: flex;
  align-items: center;
  gap: 8px;
}
.status p {
  font-size: 12px;
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

/* states */
.dot.active {
  background-color: #4caf50; /* green */
}

.dot.warning {
  background-color: #ff9800; /* orange */
}

.dot.ended {
  background-color: #f44336; /* red */
}

.dot.inactive {
  background-color: #9e9e9e; /* gray */
}
