/* === Home === */
.flex-banner {
  width: 100%;
  height: 500px;
  background: linear-gradient(to right, #8d6b39, #ffffff);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 100px;
  box-sizing: border-box;
  overflow: hidden;
}
/* Text */
.banner-text h1 {
  color: white;
  font-size: 90px;
  font-weight: bold;
  line-height: 1.1;
  width: 550px;
  margin-top: 200px;
}
/* Images stack */
.banner-images {
  position: relative;
}
/* image */
.sword {
  width: 900px;
  transform: rotate(-10deg);
}
.badge {
  position: absolute;
  width: 250px;
  height: auto;
  top: 130px;
  right: 210px;
  z-index: 2;
}
.upcomingAuction-container {
  padding: 96px 96px 0px 96px;
  background-color: #f4f1f1;
}
.upcomingAuction-container h1 {
  font-size: 40px;
}
.upcomingAuction-container p {
  font-size: 20px;
  opacity: 50%;
}
.thongbao-container {
  display: flex;
  justify-content: space-between;
}
.time-grid {
  display: grid;
  grid-template-columns: 90px 122px 120px;
  grid-template-rows: 85px 80px;
}
.time-grid p {
  text-align: right;
  opacity: 100%;
  margin-right: 10px;
}
#time-countdown {
  font-size: 80px;
  opacity: 50%;
}
#grid-upcomingAuction {
  justify-items: center;
  display: grid;
  grid-template-rows: 450px 450px;
  grid-template-columns: 33.33% 33.33% 33.33%;
}
.LoiKeuGoi {
  margin: 50px;
  align-items: center;
  justify-items: center;
}
.LoiKeuGoi h1 {
  font-size: 40px;
}
.LoiKeuGoi p {
  font-size: 20px;
  opacity: 50%;
}
#btn-home-guest {
  margin-top: 10px;
  display: block;
  padding: 10px 20px;
  color: white;
  background-color: #543a14;
  border: none;
  box-shadow: none;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  width: 136px;
  height: 44px;
  font-size: 17px;
}
#btn-home-guest:hover {
  background-color: #362409;
}
/* === Home === */
