* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #fff0dc;
}

.login-container {
  margin: 10% 0 20%;
  justify-self: center;
  border-radius: 25px;
  padding: 30px 50px;
  background-color: white;
  position: relative;
}
.login-form h1 {
  text-align: center;
}
.login-form h3 {
  text-align: center;
  margin: 5px 0 10px 0;
}
.login-form h2 {
  text-align: center;
  margin: 10px 0;
}
.login-form input {
  width: 400px;
  margin: 10px 0;
  height: 54px;
  padding-left: 20px;
  border: 2px solid black;
  font-size: 16px;
}
.login-img {
  text-align: center;
}
.login-form button {
  display: block;
  justify-self: center;
  width: 200px;
  height: 50px;
  padding: 5px 0;
  border-radius: 5px;
  background-color: #543a14;
  border: none;
  box-shadow: none;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  color: white;
  font-size: 20px;
  margin-top: 20px;
}
.login-form a {
  color: black;
}
.back {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 20px;
  left: 20px;
}
