body {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}
.flex-banner {
  width: 100%;
  height: 150px;
  background: linear-gradient(90deg, #543a14 0%, #d49b55 50%, #ffffff 100%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
  box-sizing: border-box;
  overflow: hidden;
  margin-bottom: 100px;
}
#imageInput {
  width: 100%;
  height: 30px;
}
.banner-text h1 {
  color: white;
  font-size: 50px;
  font-weight: bold;
  line-height: 1.1;
  width: 550px;
}
.appraisal-box {
  width: 800px;
  padding: 30px;
  border-radius: 10px;
  background-color: #fff0dc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  justify-self: center;
  margin-bottom: 50px;
}

.content-wrapper {
  display: flex;
  gap: 40px;
}

.image-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.image-placeholder {
  width: 100%;
  height: 350px;
  border: 1px solid #ccc;
  background-color: #fff;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}
.upload-button {
  background-color: #543a14;
  color: white;
  border: none;
  padding: 10px 25px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.upload-button:hover {
  background-color: #3f2c0f;
}

.form-section {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
  color: #666;
  margin-top: 20px;
}

.appraisal-note {
  font-size: 14px;
  color: #666;
  margin: 10px 0 40px 0;
}

.appraise-button {
  margin-top: auto;
  align-self: flex-end;
  background-color: #543a14;
  color: white;
  border: none;
  padding: 12px 30px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.appraise-button:hover {
  background-color: #3f2c0f;
}
