.container-v,
.container-v2 {
  display: flex;
  flex-direction: column;
}
.container-v {
  gap: 50px;
}
.container-h {
  display: flex;
  gap: 10px;
}
.container2 {
  display: flex;
  gap: 100px;
  justify-self: center;
  align-self: center;
  margin: 80px;
  margin-bottom: 100px;
}
.container_1_5 {
  display: flex;
  flex-direction: column;
}
.map {
  justify-self: center;
  align-self: center;
  margin-bottom: 80px;
}
