* {
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
}

body {
  margin: 0;
  background: #ffffff;
  color: #000;
}

/* ===== HEADER ===== */
.header {
  background: #5a431c;
  padding: 22px 0;
  position: relative; /* Quan trọng để nút back căn chỉnh theo header */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}
.tabs {
  display: flex;
  justify-content: center;
  gap: 390px;
}

.tab {
  color: #ffffff;
  font-size: 26px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  position: relative;
}

.tab.active::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 42px;
  height: 3px;
  background: #ffffff;
}

/* ===== CONTENT ===== */
.container {
  padding: 32px 70px;
}

/* ===== TOOLBAR ===== */
.toolbar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 104px;
  margin-bottom: 34px;
}

.search-box {
  flex: 0 0 720px;
  position: relative;
}

.search-box input {
  width: 100%;
  padding: 14px 46px 14px 20px;
  border-radius: 30px;
  border: none;
  background: #fff3df;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.5px;
  outline: none;
}

.search-box span {
  position: absolute;
  right: 18px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  opacity: 0.7;
}

/* ===== ADD BUTTON ===== */
.add-btn {
  background: #000000;
  color: #ffffff;
  border: none;
  padding: 14px 22px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
}

/* ===== USER CARD ===== */
.card {
  border: 1.5px solid #333;
  padding: 22px 26px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 85%;      
  max-width: none;    
  margin: 0 auto;
}

.card-info {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.title {
    font-size: 22px;
    font-weight: 500;
}

.subtitle {
    font-size: 18px;
    color: #9e9e9e;
    font-weight: 400;
}

.username {
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0.8px;
}

/* ===== ACTIONS ===== */
.actions {
  display: flex;
  gap: 18px;
}

.view-btn {
  background: #000;
  color: #fff;
  border: none;
  padding: 12px 22px;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.8px;
  cursor: pointer;
}

.delete-btn {
  background: #e5e5e5;
  color: #e53935;
  border: 1px solid #aaa;
  padding: 12px 22px;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.8px;
  cursor: pointer;
}
    
    /* ===== PAGE TOGGLE ===== */
.page {
    display: none;
}

.page.active {
    display: block;
}

.back {
  width: 30px;      
  height: 30px;
  position: absolute; 
  left: 30px;      
  top: 50%;        
  transform: translateY(-50%); 
  cursor: pointer;
  transition: transform 0.2s ease, opacity 0.2s;
  filter: brightness(0) invert(1); 
}

.back:hover {
  opacity: 0.8;
  transform: translateY(-50%) scale(1.1); 
}