* {
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}

body {
  margin: 0;
  background: #fff;
}

.header {
  background: #5a431c;
  padding: 22px 0;
  text-align: center;
  color: white;
  font-size: 26px;
}

.container {
  width: 600px;
  margin: 40px auto;
}

label {
  display: block;
  margin-bottom: 6px;
  font-size: 20px;
}

input {
  width: 100%;
  padding: 12px;
  margin-bottom: 22px;
  font-size: 16px;
}

.actions {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 20px;
}

.btn {
  padding: 12px 32px;
  font-size: 16px;
  cursor: pointer;
  border: none;
}

.btn-add {
  background: black;
  color: white;
}

.btn-cancel {
  background: #e5e5e5;
  color: red;
  border: 1px solid #aaa;
}

.modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal-content {
  background-color: white;
  margin: 5vh auto;
  width: 500px;
  max-height: 80vh;
  border-radius: 12px;
  position: relative;
  display: flex;
  flex-direction: column;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

.modal-content h2 {
  margin: 0;
  padding: 20px;
  border-bottom: 2px solid #f0f0f0;
  text-align: center;
  font-size: 24px;
}

.close {
  position: absolute;
  right: 20px;
  top: 15px;
  font-size: 35px;
  font-weight: bold;
  color: #aaa;
  cursor: pointer;
  z-index: 10;
  line-height: 1;
}

.close:hover {
  color: #ff4747;
}

#categoryList {
  list-style: none;
  padding: 0;
  margin: 0;
  overflow-y: auto;
  flex-grow: 1;
}

#categoryList li {
  padding: 15px 40px;
  border-bottom: 1px solid #eee;
  cursor: pointer;
  transition: all 0.2s;
  font-size: 18px;
  display: flex;
  gap: 15px;
}

#categoryList li strong {
  color: #5a431c;
  min-width: 40px;
}

#categoryList li:hover {
  background-color: #fff5f5;
  color: #ff4747;
  padding-left: 50px;
}

#categoryList li:last-child {
  border-bottom: none;
}

#categoryList li:hover {
  background-color: #fff5f5;
  color: #ff4747;
  padding-left: 30px;
}
.category-group {
  display: flex;
  gap: 10px;
  margin-bottom: 22px;
}

.category-group input {
  margin-bottom: 0;
  background-color: #f9f9f9;
}

.btn-select {
  background: black;
  color: white;
  white-space: nowrap;
  padding: 0 20px;
}

.btn-select:hover {
  background: #3e2e13;
}
